/* Estilos para el header del contenido */
:host ::ng-deep ion-header ion-toolbar {
  --background: #4b3b4f !important;
  box-shadow: 0 4px 6px rgba(243, 242, 242, 0.3);
  border-bottom: 1px solid rgba(233, 219, 219, 0.1);
  padding-left: 12px;
  padding-right: 12px;
}

/* Estilos para el título dentro del header */
:host ::ng-deep ion-header ion-title {
  font-family: 'Press Start 2P', monospace !important;
  color: rgb(137, 125, 125) !important;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgb(65, 13, 121);
}


ion-content {
  .card-for {
    background: linear-gradient(to bottom, #4b3b4f, #1e1123);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    margin: 20px 16px;
    transition: transform 0.2s ease;
  }

  .card-for:hover {
    transform: scale(1.01);
  }

  /* Títulos y subtítulos */
  .h-text-t {
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  color: rgb(137, 125, 125) !important;
  text-shadow: 0 0 5px rgb(65, 13, 121);
  }

  .h-text-s {
    font-family: 'Press Start 2P', monospace;
    font-size: 12px;
    color: rgb(137, 125, 125) !important;
    text-shadow: 0 0 5px rgb(65, 13, 121);
  }

  .h-text-c {
    font-family: 'Press Start 2P', monospace;
    color: rgb(137, 125, 125) !important;
    text-shadow: 0 0 5px rgb(65, 13, 121);
    font-size: 0.70rem;
  }
}
ion-content {
  .mecanicas-content {
    --background: linear-gradient(to bottom, #1e1123, #3e1f47);
    padding: 16px;
    color: #fff;
  }

  /* Título principal */
  .mecanicas-title {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    color: #ff9e57;
    text-shadow: 0 0 4px #000;
  }

  /* Tarjeta de mecánica */
  .mecanica-card {
    background: linear-gradient(to bottom, #3e1f47, #1b0c22);
    border-radius: 12px;
    margin: 12px 0;
    color: #ffffff;
    padding: 10px;
  }

  /* Icono del título */
  .icono-titulo {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
  }

  /* Sección de mecánica */
  .mecanica-section {
    margin: 8px 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 10px;
  }

  /* Título de cada sección */
  .section-title {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.1rem;
    color: #ff9e57;
    text-shadow: 0 0 4px #000;
    margin-bottom: 5px;
  }

  /* Texto de la mecánica */
  .mecanica-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 0.8rem;
    color: #ffd39a;
    text-align: left;
    margin: 5px 0;
  }

  .mecanica-name {
    font-family: 'Press Start 2P', monospace;
    font-size: 1.2rem;
    color: #ff9e57;
    text-shadow: 0 0 4px #000;
    margin: 10px 0;
    text-align: center;
  }
  
}
