
<app-header titulo="personajes"></app-header>


<ion-content>
    <ion-card 
    (click)="verDetalle(personaje.id)" 
    *ngFor="let personaje of PersonajesRecientes" 
    class="card-for"
  >
  
<img [src]="personaje.data.imagen" style="height: 40hv; width: 60hv;">
      <ion-card-header>
        <ion-card-title class="h-text-t">Nombre: {{personaje.data.nombre}}</ion-card-title>
        <ion-card-subtitle class="h-text-s">Rol: {{personaje.data.rol}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h2 class="h-text-c">Descripción: {{personaje.data.descripcion}}</h2>
      </ion-card-content>
    </ion-card>
  </ion-content>
