  /* Estilos para el header del contenido */
:host ::ng-deep ion-header ion-toolbar {
    --background: #4b3b4f !important;
    box-shadow: 0 4px 6px rgba(243, 242, 242, 0.3);
    border-bottom: 1px solid rgba(233, 219, 219, 0.1);
    padding-left: 12px;
    padding-right: 12px;
  }
  
  /* Estilos para el título dentro del header */
  :host ::ng-deep ion-header ion-title {
    font-family: 'Press Start 2P', monospace !important;
    color: rgb(137, 125, 125) !important;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgb(65, 13, 121);
  }
  