<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mictlan's Gate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Imagen principal -->
    <ion-row class="row-g">
      <ion-img class="img" src="../../../assets/img/LOGOHOME.png"></ion-img>
    </ion-row>

    <!-- Descripción general del juego -->
    <ion-row>
      <ion-card class="card-t">
        <ion-card-header>
          <ion-card-title class="ion-text-center c-b-t">Alebrije Studios presenta "Mictlan's Gate"</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify c-b-c">
          Sumérgete en "Mictlan's Gate", un emocionante videojuego de plataformas en 2D que te transporta a la época de la conquista española, mientras exploras la riqueza y el simbolismo de una de las culturas más poderosas de México. Descubre nuestra propuesta llena de historia, acción y mitología.
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- Imagen narrativa -->
    <ion-row class="row-g">
      <ion-img class="img" src="../../../assets/img/escene.png"></ion-img>
    </ion-row>

    <!-- Descripción narrativa -->
    <ion-row>
      <ion-card class="card-c">
        <ion-card-header>
          <ion-card-title class="ion-text-center c-b-t">Premisa</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify c-b-c">
          Guía a Totchtli, un joven que ha perdido a su familia y su aldea a manos de los españoles, a través de desafiantes niveles inspirados en la mitología azteca. Enfrenta enemigos del inframundo para recuperar las almas de sus seres queridos y devolver la paz a su mundo.
        </ion-card-content>
      </ion-card>
    </ion-row>

    <!-- Imagen de personajes -->
    <ion-row class="row-g">
      <ion-img class="img" src="../../../assets/img/people.png"></ion-img>
    </ion-row>

    <!-- Descripción de personajes -->
    <ion-row>
      <ion-card class="card-b">
        <ion-card-header>
          <ion-card-title class="ion-text-center c-b-t">Conoce los personajes</ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-text-justify c-b-c">
          Explora a los aliados y enemigos que habitan el Mictlán. Cada uno con una historia, una cultura, y un desafío por ofrecer en tu camino hacia la vida.
        </ion-card-content>
      </ion-card>
    </ion-row>

  </ion-grid>
</ion-content>
