  /* Estilos para el header del contenido */
:host ::ng-deep ion-header ion-toolbar {
    --background: #4b3b4f !important;
    box-shadow: 0 4px 6px rgba(243, 242, 242, 0.3);
    border-bottom: 1px solid rgba(233, 219, 219, 0.1);
    padding-left: 12px;
    padding-right: 12px;
  }
  
  /* Estilos para el título dentro del header */
  :host ::ng-deep ion-header ion-title {
    font-family: 'Press Start 2P', monospace !important;
    color: rgb(137, 125, 125) !important;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgb(65, 13, 121);
  }

/* IMÁGENES GRANDES y centradas */
.row-g {
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 50px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* TARJETAS retro oscuras */
ion-card {
  background-color: #2c1c30;
  color: #ffffff;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

/* TÍTULOS de tarjetas */
.c-b-t {
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  color: rgb(137, 125, 125) !important;
  text-shadow: 0 0 5px rgb(65, 13, 121);
  text-align: center;
}

/* CONTENIDO de tarjetas */
.c-b-c {
  font-family: 'Press Start 2P', monospace;
  font-size: 10px;
  color: #d0c9c9;
  text-shadow: 0 0 2px #000;
  line-height: 1.6;
  padding: 10px;
  text-align: justify;
}