<app-header titulo = "escenarios"></app-header>

<ion-content>
    <ion-card 
    *ngFor="let escenario of EscenariosRecientes" 
    class="card-for"
  >
  
<img [src]="escenario.data.imagen" style="height: 40hv; width: 60hv;">
      <ion-card-header>
        <ion-card-title class="h-text-t">Nombre: {{escenario.data.nombre}}</ion-card-title>
        <ion-card-subtitle class="h-text-s">Nivel: {{escenario.data.nivel}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h2 class="h-text-c">Descripción: {{escenario.data.descripcion}}</h2>
      </ion-card-content>
    </ion-card>
  </ion-content>

